<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Support Tickets</title>
        <link rel="stylesheet" href="/html/style.css" />
    </head>

    <body>
        <div class="support-tickets-container">
            <h1>Support Tickets</h1>
            <form action="/viewsupporttickets" method="get" style="margin-bottom: 20px;">
                <button type="submit" style="padding: 5px 10px;">Search</button>
                <a href="viewsupporttickets.html" style="margin-left: 10px;">Clear</a>
            </form>
            
        </div>
    </body>
</html>